@import 'partials/variables';
@import 'partials/media-query';

/* Global css effects */
html {
    // 400 and 700 weight from DD (Design document)
    font-family: $overpass;
    font-weight: 400;
    font-size: 16px;
}

*, *::after, *::before {
    box-sizing: border-box;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

// Removes default styling of buttons
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

// Parameters to allow the footer to always be at least at the bottom of the viewport
// Position "absolute" to avoid effect of margins of childs on the body
body {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    background-color: $very-dark-blue;
}

footer {
    margin-top: auto;
    padding: 1em 1em;
    width: 100%;
    text-align: center;
    line-height: 1.5;
    color: $white;
    background-color: $very-dark-blue;
    .attribution a {
        color: $orange;
    }
}

@import 'partials/rating-component';